:host
{
  --hover-primary: #eaeaea;
  --hover-secondary: #e4e4e4;
  --color-primary: #222222;
  --color-border: #aaaaaa;
  --color-selected: #cccccc;
  --color-focus: #a1bbbe;
  --column-primary: #f1f1f1;
  --column-secondary: #ededed;
  --column-tertiary: #555555;
}

#container
{
  border: solid 1px var(--color-border);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  position: relative;
  font-weight: 300;
  height: 100%;
}
h2
{
  color: var(--color-primary);
  margin: 0;
  font-size: 11px;
  padding: 3px;
  background: linear-gradient(#dedede, #cecece);
  z-index: 20;
}
table
{
  table-layout: fixed;
  --head-columns-offset: 0px;
  width: 100%;
  border-spacing: 0;
  font-size: 14px;
}
th, td
{
  position: relative;
  border: solid 1px var(--color-border);
  border-left-width: 0;
  font-weight: 300;
  padding: 0;
}
td
{
  overflow: hidden;
  white-space: nowrap;
  border-top-width: 0;
  padding: 0 2px;
  color: var(--color-primary);
}

th span.resize
{
  position: absolute;
  display: block;
  height: 100%;
  right: -8px;
  top: 0;
  z-index: 10;
  width: 16px;
  cursor: col-resize;
}

th:hover
{
  background: linear-gradient(var(--hover-primary) 0%,
                              var(--hover-primary) 50%,
                              var(--hover-secondary) 50%,
                              var(--hover-secondary) 100%);
  cursor: pointer;
}

thead
{
  position: sticky;
  top: 20px;
  z-index: 20;
  background: linear-gradient(var(--column-primary) 0%,
                              var(--column-primary) 50%,
                              var(--column-secondary) 50%,
                              var(--column-secondary) 100%);
  color: var(--column-tertiary);
}

thead tr
{
  position: sticky;
}

h2
{
  top: 0px;
  position: sticky;
}

th
{
  position: sticky;
  top: var(--head-columns-offset);
  z-index: 20;
  background: linear-gradient(var(--column-primary) 0%,
                              var(--column-primary) 50%,
                              var(--column-secondary) 50%,
                              var(--column-secondary) 100%);
}

tbody
{
  position: relative;
}

tbody tr.highlight
{
  background-color: var(--color-selected);
  cursor: pointer;
  outline: none;
}

tbody tr
{
  outline: none;
  height: 14px;
}

tbody tr:focus
{
  filter: drop-shadow(0 0 4px var(--color-focus));
}

tbody tr:not(.highlight):hover
{
  background: linear-gradient(var(--hover-primary) 0%,
                              var(--hover-primary) 50%,
                              var(--hover-secondary) 50%,
                              var(--hover-secondary) 100%);
  cursor: pointer;
}

tbody tr.dragenter
{
  background: linear-gradient(var(--hover-primary) 0%,
                              var(--hover-primary) 50%,
                              var(--hover-secondary) 50%,
                              var(--hover-secondary) 100%);
}

tbody tr.dragenter td
{
  transition: border 0.05s linear;
}

tbody tr.dragenter.add-above td
{
  border-top-color: white;
  border-top-width: 20px;
}

tbody tr.dragenter.add-below td
{
  border-bottom-color: white;
  border-bottom-width: 20px;
}

thead tr:after
{
  content: "";
  position: absolute;
  border: 1px solid var(--color-border);
  width: 100%;
  height: var(--column-heigh);
  border-left-width: 0;
  background: linear-gradient(var(--column-primary) 0%,
                              var(--column-primary) 50%,
                              var(--column-secondary) 50%,
                              var(--column-secondary) 100%);
}

#container.dragenter tbody:after {
  position: absolute;
  content: "";
  border: 1px solid var(--color-border);
  width: 100%;
  height: 14px;
  display: block;
}

#container.dragenter tbody:empty:after {
  background: linear-gradient(var(--hover-primary) 0%,
                              var(--hover-primary) 50%,
                              var(--hover-secondary) 50%,
                              var(--hover-secondary) 100%);
}

