/* stylelint-disable */
:host
{
  --hover-primary: #eaeaea;
  --hover-secondary: #e4e4e4;
  --color-primary: #222222;
  --color-border: #aaaaaa;
  --color-selected: #cccccc;
  --color-focus: #a1bbbe;
  --column-primary: #f1f1f1;
  --column-secondary: #ededed;
  --column-tertiary: #555555;
  --tooltip-offset-x: 0;
  --tooltip-offset-y: 0;
  --tooltip-color-background: #e4e4e4;
  --toolip-color-foreground: #222222;
  --tooltip-border-color: #222222;
  --tooltip-max-width: 200px;
  --tooltip-border-size: 1px;
  --tooltip-arrow-size: 8px;
  --tooltip-icon: "";
  --icon-group: "";
  --icon-project: "";
}
button 
{
  border: none;
  outline: none;
}
h2 
{
  color: var(--color-primary);
  margin: 0;
  font-size: 11px;
  padding: 3px;
  background: linear-gradient(#dedede, #cecece);
  z-index: 20;
}

#column 
{
  border: solid 1px var(--color-border);
  border-left-width: 0;
  border-right-width: 0;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: center;
  background: linear-gradient(
    var(--column-primary) 0%,
    var(--column-primary) 50%,
    var(--column-secondary) 50%,
    var(--column-secondary) 100%
  );
}

#column a 
{
  text-decoration: none;
  color: var(--column-tertiary);
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  position: relative;
}

:host([sort]) #column:hover 
{
  background: linear-gradient(
    var(--hover-primary) 0%,
    var(--hover-primary) 50%,
    var(--hover-secondary) 50%,
    var(--hover-secondary) 100%
  );
  cursor: pointer;
}

:host([sort]) #column a:after 
{
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  top: 7px;
  margin: 0 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

:host([sort="asc"]) #column a:after 
{
  border-bottom: 5px solid var(--column-tertiary);
}

:host([sort="desc"]) #column a:after 
{
  border-top: 5px solid var(--column-tertiary);
}

#container 
{
  border: solid 1px var(--color-border);
  border-radius: 5px;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  flex-flow: column;
  height: 100%;
  display: flex;
}

#list-body 
{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

ul 
{
  margin: 0;
  list-style: none;
  padding: 0;
  color: var(--color-primary);
}

li .row 
{
  display: block;
  border: solid 1px var(--color-border);
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-weight: 300;
  padding-left: 5px;
  overflow: hidden;
}

li .row:not([contenteditable="true"]) 
{
  white-space: pre;
  text-overflow: ellipsis;
}

li .row:not(.highlight):hover 
{
  background: linear-gradient(
    var(--hover-primary) 0%,
    var(--hover-primary) 50%,
    var(--hover-secondary) 50%,
    var(--hover-secondary) 100%
  );
  cursor: pointer;
}

ul li 
{
  position: relative;
}

li > .row.highlight 
{
  background-color: var(--color-selected);
  cursor: pointer;
}

li li .row 
{
  padding-left: 20px;
}

li .hasInfo 
{
  position: absolute;
  width: 15px;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

li .hasInfo::after 
{
  content: "";
  width: 10px;
  height: 10px;
  background: no-repeat var(--tooltip-icon);
  display: inline-block;
}

:host([tooltip-text]) li .row 
{
  padding-left: 15px;
}

[data-subitems="true"] li .row 
{
  padding-left: 20px;
}

[data-subitems="true"] li li .row 
{
  padding-left: 20px;
}

[data-subitems="true"] li li .row::before 
{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  padding-left: 5px;
  margin-bottom: 1px;
  background: no-repeat var(--icon-project);
}
span.row 
{
  height: 20px;
}

/* Alex */
#group 
{
  padding-left: 20px;
  padding-right: 22px;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  height: 20px;
}

.add-item 
{
  margin-left: 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: no-repeat var(--icon-group-btn);
}
.add-item:after 
{
  content: "";
  width: 8px;
  height: 8px;
  background: no-repeat var(--icon-group-btn);
}
.add-item:hover 
{
cursor: pointer;
}
.subitem__wrapper 
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 5px;
  margin-left: 20px;
  cursor: default;
  height: 20px;
}
li 
{
  cursor: default ;
}

.subitem-btn 
{
  margin-right: 5px;
  opacity: 0;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: no-repeat var(--icon-subitem-btn);
}
.subitem-btn:after 
{
  content: "";
  width: 8px;
  height: 8px;
  background: no-repeat var(--icon-subitem-btn);
}
.subitem__wrapper:hover .subitem-btn 
{
  opacity: 1;
}
.subitem__wrapper:hover .kebab-btn 
{
  opacity: 1;
}

.kebab-btn
{
  opacity: 0;
  width: 8px;
  height: 8px;
  background: no-repeat var(--icon-kebab-btn);
}
.kebab-btn:after
{
  content: "";
  width: 8px;
  height: 8px;
  background: no-repeat var(--icon-kebab-btn);
}
.kebab-btn:hover,
.subitem-btn:hover
{
cursor: pointer;
}
.kebab-btn:after 
{
  opacity: 0;
  width: 8px;
  height: 8px;
  background: no-repeat var(--icon-kebab-btn);
}
.subitem__wrapper:active .subitem-btn-kebab 
{
  opacity: 1;
}
.subitem__wrapper:hover .subitem-btn-kebab 
{
  opacity: 1;
}
div.row 
{
  height: 20px;
  cursor: default !important;
}
ul li 
{
  cursor: default;
}
/* Alex */
li > button 
{
  background: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 18px;
  height: calc(1em + 4px);
  position: absolute;
  cursor: pointer;
  border: 0px;
}

li > button::after 
{
  display: inline-block;
  content: "";
  width: 10px;
  height: 5px;
  vertical-align: middle;
}

li > button.expanded::after 
{
  background: var(--icon-group);
}

li > button.collapsed::after 
{
  background: var(--icon-group);
}

li > button.collapsed 
{
  transform: rotate(270deg);
}

#tooltip 
{
  --arrow-adjust-x: calc(
    0px - var(--tooltip-arrow-size) / 2 - var(--tooltip-border-size)
  );
  --arrow-adjust-y: calc(var(--arrow-adjust-x) + var(--tooltip-arrow-size));
  --tooltip-adjust-x: calc(
    (var(--tooltip-offset-x) * -1) - var(--tooltip-arrow-size)
  );
  --tooltip-adjust-y: calc(var(--tooltip-offset-y) - var(--tooltip-arrow-size));

  border: var(--tooltip-border-size) solid var(--tooltip-border-color);
  background-color: var(--tooltip-color-background);
  color: var(--toolip-color-foreground);
  padding: 10px;
  position: absolute;
  max-width: var(--tooltip-max-width);
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s linear;
  font-size: 1em;
  z-index: 21;
}

#tooltip::before 
{
  content: "";
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  background-color: var(--tooltip-color-background);
  border: var(--tooltip-border-size) solid var(--tooltip-border-color);
  transform: rotate(45deg);
  top: var(--arrow-adjust-y);
  right: var(--arrow-adjust-x);
  border-bottom-color: transparent;
  border-left-color: transparent;
}

#tooltip:not(.visible):not(:hover) 
{
  opacity: 0;
  visibility: hidden;
}

#tooltip h4 
{
  margin: 0;
}

#tooltip p 
{
  margin: 0;
}

#tooltip a 
{
  float: right;
}

#tooltip 
{
  top: var(--tooltip-adjust-y);
  left: var(--tooltip-adjust-x);
}
