:host
{
  --hover-primary: #eaeaea;
  --hover-secondary: #e4e4e4;
  --color-primary: #222222;
  --color-border: #aaaaaa;
  --color-selected: #cccccc;
  --color-focus: #a1bbbe;
  --column-primary: #f1f1f1;
  --column-secondary: #ededed;
  --column-tertiary: #555555;
  --icon-group: "";
  --icon-project: "";
}

h2
{
  color: var(--color-primary);
  margin: 0;
  font-size: 11px;
  padding: 3px;
  background: linear-gradient(#dedede, #cecece);
  z-index: 20;
}

#column
{
  border: solid 1px var(--color-border);
  border-left-width: 0;
  border-right-width: 0;
  font-weight: 300;
  padding: 0;
  margin: 0;
  text-align: center;
  background: linear-gradient(var(--column-primary) 0%,
              var(--column-primary) 50%,
              var(--column-secondary) 50%,
              var(--column-secondary) 100%);
}

#column a
{
  text-decoration: none;
  color: var(--column-tertiary);
  font-weight: 300;
  font-size: 14px;
  display: inline-block;
  position: relative;
}

:host([sort]) #column:hover
{
  background: linear-gradient(var(--hover-primary) 0%,
                              var(--hover-primary) 50%,
                              var(--hover-secondary) 50%,
                              var(--hover-secondary) 100%);
  cursor: pointer;
}

:host([sort]) #column a:after
{
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  top: 7px;
  margin: 0 5px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

:host([sort="asc"]) #column a:after
{
  border-bottom: 5px solid var(--column-tertiary);
}

:host([sort="desc"]) #column a:after
{
  border-top: 5px solid var(--column-tertiary);
}

div
{
  border: solid 1px var(--color-border);
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  position: relative;
  font-weight: 300;
  height: 100%;
  font-size: 14px;
}

ul
{
  margin: 0;
  list-style: none;
  padding: 0;
  color: var(--color-primary);
}

li .row
{
  display: block;
  border: solid 1px var(--color-border);
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-weight: 300;
  padding-left: 10px;
}

li .row:not(.highlight):hover
{
  background: linear-gradient(var(--hover-primary) 0%,
              var(--hover-primary) 50%,
              var(--hover-secondary) 50%,
              var(--hover-secondary) 100%);
  cursor: pointer;
}

ul li
{
  position: relative;
}

li > .row.highlight
{
  background-color: var(--color-selected);
  cursor: pointer;
}

li li .row
{
  padding-left: 20px;
}

[data-subitems="true"] li .row
{
  padding-left: 20px;
}

[data-subitems="true"] li li .row
{
  padding-left: 20px;
}

[data-subitems="true"] li li .row::before
{
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  padding-left: 5px;
  margin-bottom: 1px;
  background: no-repeat var(--icon-project);
}

li > button
{
  background: transparent;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 18px;
  height: calc(1em + 4px);
  position: absolute;
  cursor: pointer;
  border: 0px;
}

li > button::after
{
  display: inline-block;
  content: "";
  width: 10px;
  height: 5px;
  vertical-align: middle;
}

li > button.expanded::after
{
  background: var(--icon-group);
}

li > button.collapsed::after
{
  background: var(--icon-group);
}

li > button.collapsed
{
  transform: rotate(270deg);
}
