button
{
  cursor: pointer;
  border: 1px solid #292929;
  background: linear-gradient(#d1d1d1, #999999);
  color: #fff;
  text-shadow: 0px -1px 0px #6c6c6c;
  box-shadow: 0px 1px 3px #6c6c6c, inset 0px 0px 2px #d1d1d1;
  width: inherit;
  height: inherit;
  padding: inherit;
}

button:hover
{
  background: #999999;
}

button:after
{
  margin-left: 5px;
}
