:host
{
  --color-background: #e4e4e4;
  --color-foreground: #222222;
  --color-border: #222222;
  --border-size: 1px;
  --tooltip-width: max-content;
  --tooltip-max-width: 200px;
  --content-width: 0px;
  --content-height: 0px;
  --arrow-size: 8px;
  --tooltip-offset-x: 0px;
  --tooltip-offset-y: 0px;
  position: relative;
  display: inline-block;
}

#tooltip[data-arrow="x"]
{
  --arrow-adjust-x: calc(0px - var(--arrow-size) / 2 - var(--border-size));
  --arrow-adjust-y: calc(var(--arrow-adjust-x) + var(--tooltip-offset-y) + var(--content-height) / 2);
  --tooltip-adjust-x: calc(var(--content-width) + var(--tooltip-offset-x) - var(--arrow-adjust-x));
  --tooltip-adjust-y: calc(var(--tooltip-offset-y) * -1);
}

#tooltip[data-arrow="y"]
{
  --arrow-adjust-y: calc(0px - var(--arrow-size) / 2 - var(--border-size));
  --arrow-adjust-x: calc(var(--arrow-adjust-y) + var(--tooltip-offset-y) + var(--content-height) / 2);
  --tooltip-adjust-x: calc((var(--content-width) / 2) - var(--arrow-size) - var(--arrow-adjust-x) + var(--tooltip-offset-x));
  --tooltip-adjust-y: calc(var(--tooltip-offset-y) + var(--content-height) - var(--arrow-adjust-y) + 2px);
}

#tooltip::before {
  content: "";
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: var(--arrow-size);
  height: var(--arrow-size);
  background-color: var(--color-background);
  border: var(--border-size) solid var(--color-border);
  transform: rotate(45deg);
}

#tooltip {
  border: var(--border-size) solid var(--color-border);
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 10px;
  position: absolute;
  width: var(--tooltip-width);
  max-width: var(--tooltip-max-width);
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s linear;
  z-index: 1;
}

:host(:not(:hover)) #tooltip,
:host([disabled]) #tooltip
{
  opacity: 0;
  visibility: hidden;
}

#tooltip {
  font-size: 1em;
}

#tooltip h4 {
  margin: 0;
}

#tooltip p {
  margin: 0;
}

#tooltip #links {
  float: right;
}

#tooltip[data-tooltip="right-bottom"] {
  left: var(--tooltip-adjust-x);
  top: var(--tooltip-adjust-y);
}

#tooltip[data-tooltip="right-bottom"]::before {
  top: var(--arrow-adjust-y);
  left: var(--arrow-adjust-x);
}

#tooltip[data-tooltip="right-bottom"][data-arrow="y"] {
  left: var(--tooltip-adjust-x);
  top: var(--tooltip-adjust-y);
}

#tooltip[data-tooltip="right-bottom"][data-arrow="y"]::before {
  top: var(--arrow-adjust-y);
  left: var(--arrow-adjust-x);
}

#tooltip[data-tooltip="left-bottom"] {
  right: var(--tooltip-adjust-x);
  top: var(--tooltip-adjust-y);
}

#tooltip[data-tooltip="left-bottom"]::before {
  top: var(--arrow-adjust-y);
  right: var(--arrow-adjust-x);
}

#tooltip[data-tooltip="left-bottom"][data-arrow="y"] {
  right: var(--tooltip-adjust-x);
  top: var(--tooltip-adjust-y);
}

#tooltip[data-tooltip="left-bottom"][data-arrow="y"]::before {
  top: var(--arrow-adjust-y);
  right: var(--arrow-adjust-x);
}

#tooltip[data-tooltip="right-top"] {
  left: var(--tooltip-adjust-x);
  bottom: var(--tooltip-adjust-y);
}

#tooltip[data-tooltip="right-top"]::before {
  left: var(--arrow-adjust-x);
  bottom: var(--arrow-adjust-y);
}

#tooltip[data-tooltip="right-top"][data-arrow="y"] {
  left: var(--tooltip-adjust-x);
  bottom: var(--tooltip-adjust-y);
}

#tooltip[data-tooltip="right-top"][data-arrow="y"]::before {
  bottom: var(--arrow-adjust-y);
  right: var(--arrow-adjust-x);
}

#tooltip[data-tooltip="left-top"] {
  right: var(--tooltip-adjust-x);
  bottom: var(--tooltip-adjust-y);
}

#tooltip[data-tooltip="left-top"]::before {
  right: var(--arrow-adjust-x);
  bottom: var(--arrow-adjust-y);
}

#tooltip[data-tooltip="left-top"][data-arrow="y"] {
  right: var(--tooltip-adjust-x);
  bottom: var(--tooltip-adjust-y);
}

/* Arrow borders */

#tooltip[data-tooltip="left-top"][data-arrow="y"]::before {
  bottom: var(--arrow-adjust-y);
  right: var(--arrow-adjust-x);
}

#tooltip[data-tooltip="left-top"][data-arrow="x"]::before,
#tooltip[data-tooltip="left-bottom"][data-arrow="x"]::before {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

#tooltip[data-tooltip="right-top"][data-arrow="x"]::before,
#tooltip[data-tooltip="right-bottom"][data-arrow="x"]::before {
  border-top-color: transparent;
  border-right-color: transparent;
}

#tooltip[data-tooltip="left-top"][data-arrow="y"]::before,
#tooltip[data-tooltip="right-top"][data-arrow="y"]::before {
  border-top-color: transparent;
  border-left-color: transparent;
}

#tooltip[data-tooltip="left-bottom"][data-arrow="y"]::before,
#tooltip[data-tooltip="right-bottom"][data-arrow="y"]::before {
  border-right-color: transparent;
  border-bottom-color: transparent;
}
